<html>
<body>
    <a href={% url 'games:index' %}>Home</a><br>
    ID={{ game.id }}
    <table border=1>
        <form action="{% url 'games:detail' game.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ game.id }}" />
            {% for field in fields %}
                <tr>
                    <td>{{ field }}</td>
                    <td><input type="text" id="{{ field }}" name="{{ field }}" required value="{{ game|get_attr:field }}"></td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><input type="submit" value="Save changes"></td>
            </tr>
        </form>
    </table>

</body>
</html>
