<html>
<body>
    <h1>Games List</h1>
    <a href="{% url 'games:submit' %}">Submit</a> a game.
    {% if games_list %}
        <ul>
        {% for game in games_list %}
            {% comment %}
            <!-- hardcoding the url method --> 
            <li><a href="/games/{{ game.id }}/">{{ game.title }}</a></li>
            {% endcomment %}

            {% comment %}         
            <!-- this could be used if app_name was not defined in games/urls.py --> 
            <li><a href="{% url 'detail' game.id %}">{{ game.title }}</a></li>
            {% endcomment %}

            <!-- this can be used because app_name=polls in polls/urls.py -->
            <li><a href="{% url 'games:detail' game.id %}">{{ game.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No Games are available.</p>
    {% endif %}
    
</body>
</html>