<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>TBD Title</title>
</head>
<body>
    <a href="{% url 'games:submit' %}">Submit</a> a game.
    <a href="{% url 'games:settings' %}">Settings</a></br>
    <table>
        <tr>
            <td>
                <label id="unhide_cols">Unhide columns:</label>
            </td>

            {% for field in fields_hidden %}
                <td>
                    <form action="{% url 'games:settings' %}" method="post" style="margin: 0px;">
                        {% csrf_token %}
                        <input type="hidden" name="show_{{ field }}" value="true">
                        <input type="submit" value="{{ field | title }}">
                    </form>
                </td>
            {% endfor %}

        </tr>
    </table>
    
    <table border=1>
        <tr>
            {% for header in table.0 %}
                {% if header %}
                    <td>
                        <b>{{ header.title }}</b>

                        {% if header.hide_button_show %}
                            <br>
                            <form action="{% url 'games:settings' %}" method="post" style="margin: 0px;">
                                {% csrf_token %}
                                <input type="hidden" name="show_{{ header.title | lower }}" value="false">
                                <input type="submit" value="Hide">
                            </form>
                        {% endif %}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% for row in table %}
            {% if not forloop.first %}
                <tr>
                    {% for field in row %}
                        <td>{{ field }}</td>
                    {% endfor %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</body>
</html>
