<html>
    <title>TBD Title</title>
<body>
    <a href={% url 'games:index' %}>Home</a><br>
    <form action="{% url 'games:settings' %}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label name="sort_by">Sort by:</label>
            </td>
            <td><select name="sort_by" value="{{ settings.sort_by }}">
                {% for field in field_list %}
                    <option value="{{ field }}" {% if settings.sort_by == field %}selected{% endif %}>
                        {{ field }}
                    </option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <td>
                <label name="sort_reverse">Sort reverse</label>
            </td>
            <td>
                <input type="hidden" name="missing_means_unchecked">
                <input type="checkbox"
                       name="sort_reverse"
                       id="sort_reverse"
                       value="true"
                       {% if settings.sort_reverse %} checked {% endif %}>
            </td>
        </tr>
        {% for field in fields_hideable_settings %}
            <tr>
                <td>Show {{ field.field_name }}:</td>
                <td>
                    <input type="hidden" name="missing_means_unchecked">
                    <input type="checkbox"
                           name="show_{{ field.field_name }}"
                           id="show_{{ field.field_name }}"
                           value="true"
                           {% if field.field_show  %} checked {% endif %}>
                </td>
            </tr>
         {% endfor %}
    </table>
    <input type="submit" value="Save changes">
    </form>
</body>
</html>
